{% include 'app/layouts/header.html' %}

<header style="height: 280px; background-position: 0 -200px;">
	<div class="container">
		<div class="row">
			<h3 style="font-weight: 300; margin-top: 130px;">Оформлення квитка</h3>
			<h1 style="font-weight: 400;">{{ journey.fromWhere}} - {{ journey.whereTo}}</h1>
		</div>
	</div>
</header>
<div class="container" style="max-width: 960px; padding-top: 20px;">
	<div class="row">
		<div class="col-md-8">
			<form action="{% url 'success' journey.id full_price FromWhere.stationName WhereTo.stationName date_journey %}" method="get" style="background: #fff; width: fit-content; padding: 40px; border-radius: 10px; box-shadow: 0 0 10px #cdcdcd;">
				<h3 style="font-weight: 400;">Оформлення квитка</h3><hr>
				<div class="row">
					<h5 style="font-weight: 300;">Інформація про покупця</h5>
					<div class="col-md-6">
						<input class="form-control form-control-lg" placeholder="Ім'я" name="buyerName" required autofocus>
					</div>
					<div class="col-md-6">
						<input class="form-control form-control-lg" placeholder="Прізвище" name="buyerSurname" required>
					</div>
				</div>
				<div class="row mt-4">
					<h5 style="font-weight: 300;">Дані для зв'язку</h5>
					<div class="col-md-6">
						<input class="form-control form-control-lg" placeholder="E-mail" name="email" required>
					</div>
					<div class="col-md-6">
						<input class="form-control form-control-lg" placeholder="Телефон" name="phone" required>
					</div>
				</div>
				<div class="row mt-4">
					<h5 style="font-weight: 300;">Тип квитка</h5>
					<div class="col-md-6">
						<select name="type" class="form-select form-select-lg" id="ticket_type">
							<option>Дорослий</option>
							<option>Дитячий</option>
						</select>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-md-12">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="check">
							<label class="form-check-label" for="check">
								Використовувати мої реєстраційні дані для заповнення квитка
							</label>
						</div>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-md-6">
						<h4 style="font-weight: 300;">До сплати</h4>
					</div>
					<div class="col-md-6">
						<h4 style="font-weight: 300;" class="text-end">
							<span class="full-price">{{ full_price }}</span>
							<span class="kids-price d-none">{{ kids_price }}</span> грн</h4>
					</div>
				</div>
				<hr class="mt-3">
				<div class="row mt-3">
					<div class="col-md-12">
						<button class="btn btn-danger btn-lg" style="width: 100%;">Перейти до оплати</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-4 about-direction" style="background: #fff; padding: 30px; height: fit-content; border-radius: 10px; box-shadow: 0 0 10px #cdcdcd;">
			<h3 style="font-weight: 400;">Про поїздку</h3><hr>
			<div class="from" style="height: 100px;">
				<div class="row">
					<div class="col-md-4">
						<div class="time">{{FromWhere.stationDepartureTime}}</div>
						<div class="date">{{schedule.DepartureDate}}</div>
					</div>
					<div class="col-md-8">
						<div class="name">{{FromWhere.stationName}}</div>
						<div class="stop">{{FromWhere.address}}</div>
					</div>
				</div>
			</div>
			<img src="https://static.thenounproject.com/png/156637-200.png" width="85" style="margin: -35px 0 10px -10px;">
			<div class="from">
				<div class="row">
					<div class="col-md-4">
						<div class="time">{{WhereTo.stationArrivalTime}}</div>
						<div class="date">23.01.2021</div>
					</div>
					<div class="col-md-8">
						<div class="name">{{WhereTo.stationName}}</div>
						<div class="stop">{{WhereTo.address}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
	$("#ticket_type").change(function() {
		if ($(this).val() == 'Дитячий') {
			$(".full-price").addClass("d-none")
			$(".kids-price").removeClass("d-none")
		} else {
			$(".full-price").removeClass("d-none")
			$(".kids-price").addClass("d-none")
		}
	})
</script>

{% include 'app/layouts/footer.html' %}