{% include 'app/layouts/header.html' %}

<header style="height: 100vh;">
	<div class="container">
		<div class="row">
			<h1 class="text-center" style="font-weight: 400; margin-top: 32vh;">Міжнародні перевезення</h1>
			<h3 class="text-center" style="font-weight: 300;">пошук квитків на автобус</h3>
			<form action="/search" method="GET" class="row" style="margin-top: 70px;">
				<div class="col-auto">
					<input class="form-control form-control-lg" placeholder="Звідки" required autofocus>
				</div>
				<div class="col-auto">
					<input class="form-control form-control-lg" placeholder="Куди" required>
				</div>
				<div class="col-auto">
					<input class="form-control form-control-lg" placeholder="Дата поїздки" required>
				</div>
				<div class="col-auto">
					<button class="btn btn-danger btn-lg btn-block" placeholder="Кількість пасажирів">Знайти квиток</button>
				</div>
			</form>
		</div>
	</div>
</header>

{% include 'app/layouts/footer.html' %}