{% include 'app/layouts/header.html' %}

<form method="post" class="text-center" style="max-width: 400px; margin: calc(50vh - 240px) auto;" >
	{% csrf_token %}
	{% load static %}

	<img class="mb-4" src="{% static 'app/img/logo.gif' %}" width="90" style="border-radius: 50%;">
	<h1 class="h3 mb-3">Будь ласка, увійдіть</h1>

	<input type="email" name="email" class="form-control form-control-lg" placeholder="Електронна пошта" required autofocus>
	<input type="password" name="password" class="form-control form-control-lg mt-2" placeholder="Пароль" required>

	<div class="form-check text-start mt-2 mb-2">
		<input type="checkbox" class="form-check-input" value="remember" id="check">
		<label class="form-check-label" for="check">
			Запам'ятати мене
		</label>
	</div>

	<button class="btn btn-lg btn-danger w-100 mb-3">Увійти</button>

	<a href="{% url 'authorization:reset_password' %}" class="link-danger">Забули пароль?</a>
	<p class="mt-2">Немає акаунту?
		<a href="{% url 'authorization:register' %}" class="link-danger">Зареєструватись</a>
	</p>

	{% for message in messages %}
		<p id="messages"> {{ message }}</p>
	{% endfor %}
</form>

{% include 'app/layouts/footer.html' %}