{% include 'app/layouts/header.html' %}

<form method="post" class="text-center" style="max-width: 400px; margin: calc(50vh - 240px) auto;" >
	{% csrf_token %}
	{% load static %}

	<img class="mb-4" src="{% static 'app/img/logo.gif' %}" width="90" style="border-radius: 50%;">
	<h1 class="h3 mb-3"> Відновлення облікового запису </h1>
	<p> Введіть новий пароль</p>

	{{ form.new_password1 }}
	{{ form.new_password2 }}

	<button class="btn btn-lg btn-danger w-100 mb-3 mt-3" name="Update Password">Підтвердити</button>
</form>

{% include 'app/layouts/footer.html' %}