{% include 'app/layouts/header.html' %}

<div class="text-center" style="max-width: 400px; margin: calc(50vh - 240px) auto;">
	{% csrf_token %}
	{% load static %}

	<img class="mb-4" src="{% static 'app/img/logo.gif' %}" width="90" style="border-radius: 50%;">
	<h1 class="h3 mb-3">Ми відправили вам лист.</h1>
	<p>
		Вам відправлено інструкцію по встановленню нового пароля на вказану адресу електронної пошти.
		Ви повинні отримати її найближчим часом.
	</p>
	<p class="mt-2">Якщо ви не отримали листа, будь ласка, переконайтеся, що ви ввели правильну адресу, і перевірте папку зі спамом.</p>
</div>

{% include 'app/layouts/footer.html' %}
