{% include 'app/layouts/header.html' %}

<div class="text-center" style="max-width: 400px; margin: calc(50vh - 240px) auto;" >
	{% csrf_token %}
	{% load static %}

	<img class="mb-4" src="{% static 'app/img/logo.gif' %}" width="90" style="border-radius: 50%;">
	<h1 class="h3 mb-3 font-weight-normal">Пароль успішно змінено</h1>
	<p class="mt-1">Тепер ви можете увійти</p>
	<a class="btn btn-lg btn-danger w-100 mb-3" href="{% url 'authorization:login' %}">Увійти</a>
</div>

{% include 'app/layouts/footer.html' %}