{% include 'app/layouts/header.html' %}

<header style="height: 400px; background-position: 0 -200px;">
  <div class="container">
    <div class="row">
      <h3 style="font-weight: 300; margin-top: 130px;">Квитки на автобус</h3>
      <h1 style="font-weight: 400;">{{fromWhere}} - {{whereTo}}</h1>
      <form action="{%url 'search'%}" method="GET" class="row" style="margin-top: 50px;">
        <div class="col-auto">
          <input class="form-control form-control-lg" placeholder="Звідки" name="fromWhere" required autofocus>
        </div>
        <div class="col-auto">
          <input class="form-control form-control-lg" placeholder="Куди" name="whereTo" required>
        </div>
        <div class="col-auto">
          <input class="form-control form-control-lg" placeholder="Дата поїздки" type="date" name="date" required>
        </div>
        <div class="col-auto">
          <button class="btn btn-danger btn-lg btn-block" placeholder="Кількість пасажирів">Знайти квиток</button>
        </div>
      </form>
    </div>
  </div>
</header>
<div class="container" style="max-width: 960px; padding-top: 20px;">
  <div class="row">
    <h3>Знайдені квитки</h3>
    <div class="filter" style="margin-top: 20px;">
      <a href="#" class="btn btn-light">Час відправлення</a>
      <a href="#" class="btn btn-light">Час у дорозі</a>
      <a href="#" class="btn btn-light">Час прибуття</a>
      <a href="#" class="btn btn-light">Ціна</a>
    </div>
    <div class="tickets">
    {%if journeys%}
      {%for l in journeys%}
      {% for d in dates %}
        {% if d.journey == l%}
      <div class="ticket">
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="from">
                {% for stFR in st_fromWhere %}
                    {% if stFR.journey == l %}
                         <h4 class="name">{{stFR.stationName}}</h4>
                        <h5 class="date">{{ d.departure }}</h5>
                    {%endif%}
                {%endfor%}             
            </div>
          </div>
          <div class="col-md-4">
            <div class="to">
                {% for stWT in st_whereTo %}
                    {% if stWT.journey == l %}
                        <h4 class="name">{{ stWT.stationName}}</h4>
                        <h5 class="date">{{ d.arrival }}</h5>
                    {%endif%}
                {%endfor%}
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                  {% for sch in schedule %}
                    {% if sch.journey_id == l %}
                         <h5 class="seats"> Вільно: {{ sch.freeSeats }}</h5>
                    {%endif%}
                {%endfor%}
                <h2 class="price">{{l.price}} грн</h2>
              </div>
              <div class="col-md-6 d-flex align-items-center justify-content-center">
                <a href="{% url 'buy' l.id l.price fromWhere whereTo date_journey %}" class="btn btn-danger btn-lg">Купити</a>
              </div>
            </div>
          </div>
        </div>
      </div>
       {% endif %}
      {%endfor%}
      {% endfor %}
      {%else%}
        <p align="center" style="margin-top: 5px ">За заданими параметрами маршрутів не знайдено.</p>
      {%endif%}
    </div>
  </div>
</div>

{% include 'app/layouts/footer.html' %}