{% include 'app/layouts/header.html' %}

<div class="container" style="max-width: 860px; padding: 0 0 40px; margin-top: calc(50vh - 220px); background: #fff; border-radius: 10px; box-shadow: 0 0 10px #c1c1c1;">
	<div class="row">
		<div class="col-md-12 text-center">
			<img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png" width="200">
			<h1>Квиток успішно придбаний</h1>
			<h4 class="text-muted" style="font-weight: 200;"> Покажіть номер квитка або QR-код водію автобуса. </h4>
			<h2 style="font-weight: 300;">№ квитка: {{ticket.id}}</h2>
			<img src="{{ ticket.qr_code.url }}" />
			<h5><a href="/" class="link-secondary">На головну</a></h5>
		</div>
	</div>
</div>

{% include 'app/layouts/footer.html' %}