{% include 'app/layouts/header.html' %}

<div class="container" style="margin: 100px auto;">
    <div class="card card-body" style="max-width: 500px; margin: 0 auto;">
        <form method="post">

            {% csrf_token %}

            <h6> Виробник: </h6>
            {{ form.company }}

            <h6> Модель: </h6>
            {{ form.model }}

            <h6> Рік випуску: </h6>
            {{ form.yearOfIssue }}

            <h6> Державний номер: </h6>
            {{ form.number }}

            <h6> Номер кузова: </h6>
            {{ form.VinNumber }}

            <h6> Розхід палива: </h6>
            {{ form.fuelConsumption }}

            <h6> Кількість посадкових місць: </h6>
            {{ form.countOfSeats }}

            <button class="btn btn-danger mt-2 w-100">Зберегти</button>
        </form>
    </div>
</div>

{% include 'app/layouts/footer.html' %}