{% include 'app/layouts/header.html' %}

<div class="container" style="margin: 100px auto;">
	<div class="card card-body" style="max-width: 500px; margin: 0 auto;">
        <form action="{% url 'add_journey'%}" method="post">
            {% csrf_token %}

            <h6> Автобус: </h6>
            {{ form.bus }}

            <h6> Номер маршруту: </h6>
            {{ form.number }}

            <h6> Звідки: </h6>
            {{ form.fromWhere }}

            <h6> Адреса початкової точки: </h6>
            <input  name="startAdr" class="form-control mb-2" required>

            <h6> Куди: </h6>
            {{ form.whereTo }}

            <h6> Адреса кінцевої точки: </h6>
            <input name="finalAdr" class="form-control mb-2" required>

            <h6> Час відправлення: </h6>
            {{ form.DepartureTime }}

            <h6> Час у дорозі: </h6>

            <div class="row mb-2" style="margin: 0 auto;">
                <input class="form-control" style="width: 32%" placeholder="Днів" name='d' type='number' min='0' >

                <input class="form-control ms-2" style="width: 32%" placeholder="Годин" name='h' type='number' min='0' max='23'>

                <input class="form-control ms-2" style="width: 32%" placeholder="Хвилин" name='m' type='number' min='0' max='59'>
            </div>

            <h6> Дні відправлення: </h6>
            {{ form.DaysOfDeparture }}

            <h6> Повна відстань між початковою та кінцевою зупинками: </h6>
            {{ form.FullDistance }}

            <button class="btn btn-danger mt-2 w-100">Додати</button>
        </form>
    </div>
</div>

{% include 'app/layouts/footer.html' %}