{% include 'app/layouts/header.html' %}

<div class="container" style="margin: 100px auto;">
	<h2>Автобуси</h2>
	<div class="d-flex justify-content-center mb-2">
		<form method="get" class="row" action="{% url 'busses' %}" style="width: 400px;">
			<div class="d-flex">
				<input class="form-control" placeholder="Пошук..." name="search" autofocus>
				<button class="btn btn-outline-dark mx-1">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</form>
	</div>
	<div class="card card-body">
		<table class="table align-middle">
			<tr>
				<th>Виробник</th>
				<th>Модель</th>
				<th>Рік випуску</th>
				<th>Державний номер</th>
				<th>Номер кузова</th>
				<th>Розхід палива</th>
				<th>Дія</th>
			</tr>

			{% for i in buses %}
			<tr>
				<td>{{i.company}}</td>
				<td>{{i.model}}</td>
				<td>{{i.yearOfIssue}}</td>
				<td>{{i.number}}</td>
				<td>{{i.VinNumber}}</td>
				<td>{{i.fuelConsumption}}</td>

				<td class="d-flex">
					<a class="btn btn-outline-primary" href="{% url 'update_bus' i.id %}">
						<i class="bi bi-pencil"></i>
					</a>
					<a class="btn btn-outline-danger mx-1" href="{% url 'delete_bus' i.id %}">
						<i class="bi bi-trash"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		
	</div>

	<div class="mt-2 mx-5" align ="right">
		<a class="btn btn-outline-dark" href="{% url 'add_bus' %}" style="width: 10%; ">Додати</a>
	</div>

</div>

{% include 'app/layouts/footer.html' %}