{% include 'app/layouts/header.html' %}

<div class="container" style="margin: 100px auto;">
    <div class="card card-body" style="max-width: 500px; margin: 0 auto;">
        <p>Ви справді хочете видати автобус "{{bus}}"?</p>
        <form action="{% url 'delete_bus' bus.id %}" method="POST">
            {% csrf_token %}

            <button class="btn btn-danger" name="Confirm">Так</button>
            <a class="btn btn-primary" href="{% url 'busses' %}">Назад</a>
        </form>
    </div>
</div>

{% include 'app/layouts/footer.html' %}