{% include 'app/layouts/header.html' %}

<div class="container" style="margin: 100px auto;">
	<h2>Рейси</h2>
	<div class="d-flex justify-content-end mb-2">
		<form method="get" class="row" action="{% url 'busses' %}" style="width: 400px;">
			<div class="d-flex">
				<input class="form-control" placeholder="Пошук..." name="search" autofocus>
				<button class="btn btn-outline-dark mx-1">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</form>
		<a href="{% url 'add_journey' %}" class="btn btn-outline-primary">Додати</a>
	</div>
	<div class="card card-body">
		<table class="table align-middle">
			<tr>
				<th>Автобус</th>
				<th>№ маршруту</th>
				<th>Звідки</th>
				<th>Куди</th>
				<th>Час відправлення</th>
				<th>Час прибуття</th>
				<th>Дні відправлення</th>
				<th>Повна відстань</th>
				<th>Дія</th>
			</tr>

			{% for i in journey %}
			<tr>
				<td>{{i.bus}}</td>
				<td>{{i.number}}</td>
				<td>{{i.fromWhere}}</td>
				<td>{{i.whereTo}}</td>
				<td>{{i.DepartureTime}}</td>
				<td>{{i.ArrivalTime}}</td>
				<td>{{i.DaysOfDeparture}}</td>
				<td>{{i.FullDistance}}</td>

				<!-- <td><a class="btn btn-sm btn-warning" href="{% url 'journey_stations' i.id %}">Stations</a></td> -->
				<td class="d-flex">
					<a class="btn btn-outline-primary" href="{% url 'update_journey' i.id %}">
						<i class="bi bi-pencil"></i>
					</a>
					<a class="btn btn-outline-danger mx-1" href="{% url 'delete_journey' i.id %}">
						<i class="bi bi-trash"></i>
					</a>
					<a class="btn btn-outline-dark" href="{% url 'journey_stations' i.id %}">
						Зупинки
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% include 'app/layouts/footer.html' %}