{% include 'app/layouts/header.html' %}

<div class="container" style="margin: 100px auto;">
	<h2>Розклад відправлень</h2>
	<div class="card card-body">
		<table class="table">
			<tr>
				<th>Назва маршруту</th>
				<th>Початкова зупинка</th>
				<th>Кінцева зупинка</th>
				<th>Дата відправлення</th>
			</tr>

             {% for journey in journeys %}
             {% for sch in journey.journeys.all %}
             <tr>
                   <td>{{ sch.journey_id }}</td>


                   <td> {{ journey.fromWhere }} </td>
                   <td> {{ journey.whereTo }} </td>
            
            
                   <td>{{ sch.DepartureDate }}</td>
             </tr>
            {% endfor %}
            {% endfor %}
		</table>
	</div>
</div>

{% include 'app/layouts/footer.html' %}