{% include 'app/layouts/header.html' %}

<div class="container" style="margin: 100px auto;">
	<h2 class="mb-4">Перегляд статистики за певний період</h2>

	<form method="POST" class="row mb-5">
		{% csrf_token %}

		<div class="col-md-3">
			<h6>Початкова дата</h6>
			<input class="form-control mb-2" type="date" name="valu" value="{{dat}}" min="2020-01-01" max="2021-12-31">
		</div>
		<div class="col-md-3">
			<h6>Кінцева дата</h6>
			<input class="form-control mb-2" type="date" name="validol" value="{{datan}}" min="2020-01-01" max="2021-12-31">
		</div>
		<div class="col-md-3">
			<h6>Оберіть маршрут</h6>
			<select class="form-select mb-2" name="jrns">
				<option>{{js}}</option>
				<option>None</option>
				{% for i in jrns %}
				<option>{{i.number}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-3">
			<h6>&nbsp;</h6>
			<button class="btn btn-outline-primary w-100" name="Confirm">Переглянути</button>
		</div>
	</form>

	<div class="row">
		<div class="col-md">
			<div class="card text-center mb-3" style="background: #4cb4c7; color: #fff;">
				<div class="card-header">
					<h5 class="card-title">Продано на суму</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_sold}}</h3>
				</div>
			</div>
		</div>

		<div class="col-md">
			<div class="card text-center mb-3" id="expenses" style="background: #7abecc; color: #fff;">
				<div class="card-header">
					<h5 class="card-title">Продано квитків</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_tickets}}</h3>
				</div>
			</div>
		</div>

		<div class="col-md">
			<div class="card text-center text-black mb-3" id="delta" style="background: #7CD1C0; color: #fff;">
				<div class="card-header">
					<h5 class="card-title">Рейсів проведено</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_jrns}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-4">
			<div class="card text-center text-black mb-3" style="background: #00b894; color: #fff;">
				<div class="card-header">
					<h5 class="card-title">Продано дорослих квитків</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_tickets_N}}</h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card text-center text-black mb-3" style="background: #00cec9; color: #fff;">
				<div class="card-header">
					<h5 class="card-title">Продано дитячих квитків</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_tickets_K}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'app/layouts/footer.html' %}