{% include 'app/layouts/header.html' %}

<div class="container" style="margin: 100px auto;">
	<h2>Продані квитки</h2>
	<div class="d-flex justify-content-center mb-2">
		<form method="get" class="row" action="{% url 'tickets' %}" style="width: 400px;">
			<div class="d-flex">
				<input class="form-control" placeholder="Пошук..." name="search" autofocus>
				<button class="btn btn-outline-dark mx-1">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</form>
	</div>
	<div class="card card-body">
		<table class="table">
			<tr>
				<th>Ім'я</th>
				<th>Прізвище</th>
				<th>Рейс</th>
				<th>Ціна</th>
				<th>Дата</th>
				<th>Тип</th>
			</tr>

			{% for i in tickets %}
				<tr>
					<td>{{i.buyerName}}</td>
					<td>{{i.buyerSurname}}</td>
					<td>{{i.journey}}</td>
					<td>{{i.price}}</td>
					<td>{{i.date}}</td>
					<td>{{i.type}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% include 'app/layouts/footer.html' %}